{% extends "./base.html" %}
{% block content %}

<!--<script>-->
<!--  function filldata(names){-->
<!--    console.log(names)-->
<!--    console.log(names.email)-->
<!--    document.getElementById("id").value=names.pk-->
<!--    document.getElementById("editname").value=names.name-->
<!--    document.getElementById("editemail").value=names.email-->
<!--    document.getElementById("editaddress").value=names.address-->
<!--    document.getElementById("editpost").value=names.post-->
<!--  }-->
<!--</script>-->


<!-- add file Modal -->
<div class="modal fade" id="addAssignmentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Assignment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="../adminmodule/assignment" method="post" enctype="multipart/form-data">
          <input type="text" name="cid" value={{course.id}} hidden>
          <p>Course Name:</p>
          <input type="text" name="name" required><br>
          <p>File:</p>
          <input type="file" name="assignment" required><br>


          {% csrf_token %}
          <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="Add"><br>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>


<!-- update file Modal -->
<div class="modal fade" id="editMemberModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit member</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="../adminmodule/updatemember" method="post" enctype="multipart/form-data">
          <input type="name" name="id" id="id" hidden>
          <p>Member Name:</p>
          <input type="text" name="name" id="editname"><br>
          <p>Email:</p>
          <input type="email" name="email" id="editemail"><br>
          <p>Address:</p>
          <input type="text" name="address" id="editaddress"><br>
          <p>Post:</p>
          <select name="post" id="editpost">
            <option value="select post">select post</option>
            {% for task in memberposts %}
            <option value="{{task.pk}}">{{task.post}}</option>
            {% endfor %}
          </select>
          <br>


          {% csrf_token %}
          <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="Save"><br>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>


<div class="row shadow p-3 mb-3 bg-body rounded m-1 border">
  <h2>{{course.name}} Files</h2>
</div>

<!-- Button trigger modal -->
<div style="margin-left: 86%;">
  <button style="align-items: left;" type="button" class="btn btn-primary" data-bs-toggle="modal"
    data-bs-target="#addAssignmentModal">
    Add Assignment
  </button>
</div>




<div class="overflow-auto" style="height: 540px;">
{% if files %}
<div class="container">
  <div class="row">
    

      {% for i in files %}
    <div class="col-4">

      <div class="card mt-4" style="width: 18rem;">
        <div class="ratio ratio-16x9">
          <iframe src="../media/{{i.file}}" title="course file" allowfullscreen></iframe>
        </div>

        <div class="card-body">
          <p class="card-text">{{i.file}}</p>
          <div class="d-flex align-items-center">
            <button type="button" class="btn btn-success btn-sm btn-icon-text me-2">
              <a name="delete" href="../adminmodule/viewcourse?data={{i.pk}}"
                style="text-decoration:None; color:white;">View</a>
            </button>
            <button type="button" class="btn btn-danger btn-sm btn-icon-text">
              <a name="delete" href="../adminmodule/deleteinstance?data={{i.pk}}&op=1"
                style="text-decoration:None; color:white;">Delete</a>
            </button>
          </div>
        </div>

      </div>
    </div>
    {% endfor %}

  </div>
</div>
{% else %}
<h3 class="mx-auto" style="width: 400px;">
  There is no file
</h3>
{% endif %}

<nav aria-label="Page navigation example">
  <ul class="pagination" class="mx-auto">
    {% if members.has_previous %}
    <li class="page-item"><a class="page-link"
        href="{% url 'member' %}?page={{ members.previous_page_number }}">Previous</a></li>
    {% endif %}
    <li class="page-item"><a class="page-link" href="#">{{members.number}}</a></li>
    {% if members.has_next %}
    <li class="page-item"><a class="page-link" href="{% url 'member' %}?page={{ members.next_page_number }}">Next</a>
    </li>
    {% endif %}
  </ul>
</nav>
</div>
{% endblock %}