{% extends "./base.html" %}
{% block content %}
<script>
  function filldata(names) {
    document.getElementById("editid").value = names.pk
    document.getElementById("editname").value = names.name
    document.getElementById("editdesc").value = names.desc
  }

</script>
<!-- add course Modal -->
<div class="modal fade" id="addCourseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Course</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="../adminmodule/course" method="post" enctype="multipart/form-data">
          <p>
            Course Name:
          </p>
          <input type="text" name="name" required>
          <br>
          <p>
            Descriotion:
          </p>
          <input type="text" name="desc" required>
          <br>
          {% csrf_token %}
          <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="Add">
            <br>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- add Batches Modal -->
<div class="modal fade" id="addBatchesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Batches</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="../adminmodule/batch" method="post" enctype="multipart/form-data">
          <p>
            Choose a course:
          </p>
          <select name="courses" id="courses">
            {% for i in courses %}
            <option value="{{ i.id }}">
              {{ i.name }}
            </option>
            {% endfor %}
          </select>
          <p>
            Starting Date:
          </p>
          <input type="date" name="date" required>
          <p>
            Time:
          </p>
          <input type="time" name="time" required>
          <select name="a" id="a">
            <option value="Am">
              Am
            </option>
            <option value="Pm">
              Pm
            </option>
          </select>
          <p>
            Days:
          </p>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="mon" value="mon" name="days">
            <label class="form-check-label" for="mon">Monday</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="tues" value="tues" name="days">
            <label class="form-check-label" for="tues">Tuesday</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="wed" value="wed" name="days">
            <label class="form-check-label" for="wed">Wednesday</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="thrus" value="thrus" name="days">
            <label class="form-check-label" for="thrus">Thrusday</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="fri" value="fri" name="days">
            <label class="form-check-label" for="fri">Friday</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="sat" value="sat" name="days">
            <label class="form-check-label" for="sat">Saturday</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="sun" value="sun" name="days">
            <label class="form-check-label" for="sun">Sunday</label>
          </div>
          {% csrf_token %}
          <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="Add">
            <br>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- update course Modal -->
<div class="modal fade" id="editCourseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Course</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="../adminmodule/editCourse" method="post" enctype="multipart/form-data">
          <input type="name" name="cid" id="editid" hidden>
          <p>
            Course Name:
          </p>
          <input type="text" name="name" id="editname">
          <br>
          <p>
            Description:
          </p>
          <input type="text" name="desc" id="editdesc">
          <br>
          {% csrf_token %}
          <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="Save">
            <br>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row shadow p-3 mb-3 bg-body rounded m-1 border">
  <h2>Courses</h2>
</div>

<!-- Button trigger modal -->
<div class="row">
  <div class="col-8"></div>
  <div class="col-2">
    <button style="align-items: left;" type="button" class="btn btn-primary" data-bs-toggle="modal"
      data-bs-target="#addCourseModal">
      Add Course
    </button>
  </div>
  <div class="col-2">
    <button style="align-items: left;" type="button" class="btn btn-primary" data-bs-toggle="modal"
      data-bs-target="#addBatchesModal">
      Add Batches
    </button>
  </div>
</div>
<br>

<div class="row">
  <div class="col-3">
    <form class="d-flex" action="../adminmodule/course" method="get">

      Showing {{enteries}} of {{user|length}}
      <select name="entry" onchange="this.form.submit()">
        <option>
          -
        </option>
        <option value="5">
          5
        </option>
        <option value="10">
          10
        </option>
        <option value="15">
          15
        </option>
      </select>

    </form>
  </div>

  <div class="col-3">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
      aria-expanded="false">
      Courses
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li>
        <form class="d-flex" action="../adminmodule/showusers" method="get" name="entryForm">

          {% for a in courses %}
          
          <label for="vehicle1">{{a.name}}</label>
          <input type="checkbox" name="selectedCourseFilter" value="{{a.pk}}"><br>
          
          {% endfor %}
          <button class="btn btn-lg btn-primary btn-block" type="submit" style="width: 100%;">Filter</button>
        </form>
      
      </li>
    </ul>
  </div>

  <div class="col-6">
    <form class="d-flex" action="../adminmodule/course" method="get">

      <input class="form-control me-2 rounded-pill" type="search" name="f" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success rounded-4" type="submit">
        Search
      </button>

    </form>
  </div>
</div>


{% if courses %}
<table class="table table-striped project-orders-table shadow p-3 mb-3 bg-body border rounded">
  <thead>
    <tr>
      <th class="ml-5">SNo.</th>
      <th>
        <a href="../adminmodule/course?f=1" style="text-decoration: None; color: black;">Name
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-sort-alpha-down" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z" />
          <path
            d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z" />
        </svg>
      </a>
    </th>
      <th>Desc</th>
      <th>Status</th>
      <th>Batches</th>
    </tr>
  </thead>
  <tbody>
    {% for i in courses %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.name }}</td>
      <td>{{ i.desc }}</td>
      <td>{{ i.status }}</td>
      <td>
        <input type="text" value={{ i.id }} name="batchcid" hidden>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Batches
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for j in batches %}
            {% if i.pk == j.cid.pk %}
            <a class="dropdown-item" href="../adminmodule/batchcontent?data={{j.pk}}">{{ j.days}} , {{j.date}} ,
              {{j.time}}{{j.a}}</a>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </td>
      <td>
        <div class="d-flex align-items-center">
          <button type="button" class="btn btn-danger btn-sm btn-icon-text mr-2">
            <a name="delete" href="../adminmodule/viewcourse?data={{ i.pk }}" style="text-decoration:None;
                            color:white;"><i class="typcn typcn-edit btn-icon-append">View</i></a>
            <i class="typcn typcn-edit btn-icon-append"></i>
          </button>
          <button type="button" class="btn btn-success btn-sm btn-icon-text mr-2"
            onclick="filldata({'pk':'{{ i.pk }}','name':'{{ i.name }}','desc':'{{ i.desc }}'})" data-bs-toggle="modal"
            data-bs-target="#editCourseModal">
            <i class="typcn typcn-edit btn-icon-append">Edit</i>
          </button>
          <button type="button" class="btn btn-danger btn-sm btn-icon-text">
            <a name="delete" href="../adminmodule/deleteinstance?data={{ i.pk }}&op=1" style="text-decoration:None;
                            color:white;"><i class="typcn typcn-delete-outline btn-icon-append">Delete</i></a>
            
          </button>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<h3 class="mx-auto" style="width: 400px;">
  There is no Courses
</h3>
{% endif %}
<nav aria-label="Page navigation example">
  <ul class="pagination" class="mx-auto">
    {% if courses.has_previous %}
    <li class="page-item">
      <a class="page-link" href="{% url 'course' %}?page={{ courses.previous_page_number }}">Previous</a>
    </li>
    {% endif %}
    <li class="page-item">
      <a class="page-link" href="#">{{ courses.number }}</a>
    </li>
    {% if courses.has_next %}
    <li class="page-item">
      <a class="page-link" href="{% url 'course' %}?page={{ courses.next_page_number }}">Next</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endblock %}