{% extends "./base.html" %}
{% block content %}

<script>
  function filldata(names){
    document.getElementById("editid").value=names.pk
    document.getElementById("editname").value=names.name
    document.getElementById("editdesc").value=names.desc
  }
</script>


<!-- add course Modal -->
<div class="modal fade" id="addCourseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Course</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="../adminmodule/course" method="post" enctype="multipart/form-data">
          <p>Course Name:</p>
          <input type="text" name="name" required><br>
          <p>Descriotion:</p>
          <input type="text" name="desc" required><br>

          
          {% csrf_token %}
          <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="Add"><br>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>


<!-- update course Modal -->
<div class="modal fade" id="editCourseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Course</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="../adminmodule/editCourse" method="post" enctype="multipart/form-data">
          <input type="name" name="cid" id="editid" hidden>
          <p>Course Name:</p>
          <input type="text" name="name" id="editname"><br>
          <p>Description:</p>
          <input type="text" name="desc" id="editdesc"><br>
          

          
          {% csrf_token %}
          <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="Save"><br>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>


<div class="row shadow p-3 mb-3 bg-body rounded m-1 border">
  <h2>Courses</h2>
  </div>

<!-- Button trigger modal -->
<div style="margin-left: 89%;">
  <button style="align-items: left;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCourseModal">
    Add Course
  </button>
  </div>
  <br>



{% if courses %}
<table class="table table-striped project-orders-table shadow p-3 mb-3 bg-body border rounded">
  <thead>
    <tr>
      <th class="ml-5">SNo.</th>
      <th>Name</th>
      <th>Desc</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody >
    {% for i in courses %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{i.name}}</td>
      <td>{{i.desc}}</td>
      <td>{{i.status}}</td>
      <td>

        <div class="d-flex align-items-center">
          <button type="button" class="btn btn-danger btn-sm btn-icon-text">
            <a name="delete" href="../adminmodule/viewcourse?data={{i.pk}}" style="text-decoration:None; color:white;">View</a>
            <i class="typcn typcn-edit btn-icon-append"></i>
          </button>
          <button type="button" class="btn btn-success btn-sm btn-icon-text mr-3" onclick="filldata({'pk':'{{i.pk}}','name':'{{i.name}}','desc':'{{i.desc}}'})" data-bs-toggle="modal" data-bs-target="#editCourseModal">
            Edit
            <i class="typcn typcn-edit btn-icon-append"></i>
          </button>
          <button type="button" class="btn btn-danger btn-sm btn-icon-text">
            <a name="delete" href="../adminmodule/deleteinstance?data={{i.pk}}&op=1"  style="text-decoration:None; color:white;">Delete</a>
            <i class="typcn typcn-delete-outline btn-icon-append"></i>
          </button>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<h3 class="mx-auto" style="width: 400px;">
There is no Courses
</h3>
{% endif %}

<nav aria-label="Page navigation example">
  <ul class="pagination" class="mx-auto">
    {% if members.has_previous %}
  <li class="page-item"><a class="page-link" href="{% url 'member' %}?page={{ members.previous_page_number }}">Previous</a></li>
  {% endif %}
  <li class="page-item"><a class="page-link" href="#">{{members.number}}</a></li>
  {% if members.has_next %}
  <li class="page-item"><a class="page-link" href="{% url 'member' %}?page={{ members.next_page_number }}">Next</a></li>
  {% endif %}
  </ul>
</nav>

{% endblock %}