{% extends "./base.html" %}
{% block content %}

<script>
  function filldata(names) {
    document.getElementById("sid").value = names.pk
    document.getElementById("cou") = names.course

  }
//   document.getElementById('submit').onclick = function() {
//     var select = document.getElementById('cou');
//     var selected = [...select.selectedOptions]
//                     .map(option => option.value);
//     alert(selected);
//     console.log(selected)
//     document.getElementById("cour") = selected
// }
</script>


<!-- userCourse Modal -->
<div class="modal fade" id="userCourseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Courses Permission</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form action="../adminmodule/userCourseUpdate" method='GET' enctype="multipart/form-data">
                
                
                  <!-- {% csrf_token %} -->
                  <input type="text" name="sid" id="sid" hidden>
                  <div id="cou"></div>

                  {% for j in courses %}
                  <label for="vehicle1">{{j.name}}</label>
                  <input type="checkbox" name="{{j.name}}" value="{{j.pk}}"><br>
                  {% endfor %}
                  
                  
                  
                  <button class="btn btn-lg btn-primary btn-block" type="submit"
                      style="width: 100%;">Update</button>
              </form>
          </div>
         
          <!--  <div class="modal-footer"></div> -->
      </div>
  </div>
</div>





<div class="row shadow p-3 mb-3 bg-body rounded m-1 border">
  <h2>Users</h2>
</div>
<div class="row">
  <div class="col-3">
<form class="d-flex" action="../adminmodule/showusers" method="get">
  
  Showing {{enteries}} of {{user|length}}
  <select name="entry" onchange="this.form.submit()">
    <option>
      -
    </option>
    <option value="5">
      5
    </option>
    <option value="10">
      10
    </option>
    <option value="15">
      15
    </option>
  </select>

</form>
</div>

<div class="col-3">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Courses
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
  <form class="d-flex" action="../adminmodule/showusers" method="get" name="entryForm">
    {% for a in courses %}
          
    <label for="vehicle1">{{a.name}}</label>
    <input type="checkbox" name="{{forloop.counter}}" onchange="this.form.submit()" value="{{a.pk}}"><br>

    {% endfor %}

  </form>
</li>
              
</ul>
</div>

<div class="col-6">
<form class="d-flex" action="../adminmodule/showusers" method="get">
  
  <input class="form-control me-2 rounded-pill" type="search" name="f" placeholder="Search"
      aria-label="Search">
  <button class="btn btn-outline-success rounded-4" type="submit">
      Search
  </button>

</form>
</div>
</div>
<br>


<div class="overflow-auto" style="height: 520px;">
{% if users %}
<table class="table table-striped project-orders-table shadow p-3 mb-5 bg-body border rounded">
  <thead>
    <tr>
      <th class="ml-5">Serial No.</th>
      <th><a href="../adminmodule/showusers?f=1" style="text-decoration: None; color: black;">Name</a></th>
      <th><a href="../adminmodule/showusers?f=2" style="text-decoration: None; color: black;">Email</a></th>
      
      <th>Status</th>
      <th>Action</th>
      <th>Enrolled Courses</th>
      <th>Courses</th>
    </tr>
  </thead>
  <tbody>
    {% for i,j in users %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td><img style="border-radius: 30px;" alt="" width="30" height="24" class="d-inline-block align-text-top"
          src="../media/{{i.img}}">&nbsp;{{i.sname}}</td>
      <td>{{i.semail}}</td>
      <td>{{i.status}}</td>
      <td>
                {% if i.status == "Inactive" %}
                <button type="button" class="btn btn-success btn-sm btn-icon-text mr-3">
                <a id="activate" href="../adminmodule/activateuser?data={{i.pk}}"
                style="text-decoration:None; color:white;">
                Activate
                </a>
                <i class="typcn typcn-edit btn-icon-append"></i>
            </button>
                {% else %}
                <button type="button" class="btn btn-danger btn-sm btn-icon-text mr-3">
                <a id="activate" href="../adminmodule/activateuser?data={{i.pk}}"
                style="text-decoration:None; color:white;">
                Deactivate
                </a>
                <i class="typcn typcn-edit btn-icon-append"></i>
            </button>
                {% endif %}
      </td>
      <td>
        {% for k in j %}
        {{k}},
        {% endfor %}
      </td>
      <td>
        
        <!-- courses checkbox in dropdown -->

          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Courses
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <!-- <form action="../adminmodule/userCourseUpdate" method='GET' enctype="multipart/form-data" id="courseForm">


                  <input type="text" name="sid" id="sid" value="{{i.id}}" hidden>
                  {% for a in courses %}
          
                  <label for="vehicle1">{{a.name}}</label>
                  {% if a in j %}
                  <input type="checkbox" name="{{forloop.counter}}"  value="{{a.pk}}" checked onchange="this.form.submit()"><br>
                  {% else %}
                  <input type="checkbox" name="{{forloop.counter}}"  value="{{a.pk}}" onchange="this.form.submit()"><br>
                  {% endif %}
          
                  {% endfor %}
                  </form> -->
                  <form action="../adminmodule/userCourseUpdate" method='GET' enctype="multipart/form-data" id="courseForm">


                    <input type="text" name="sid" id="sid" value="{{i.id}}" hidden>
                    {% for a in courses %}
            
                    <label>{{a.name}}</label>
                    {% if a in j %}
                    <input type="checkbox" name="selectedCourse"  value="{{a.pk}}" checked onchange="this.form.submit()"><br>
                    {% else %}
                    <input type="checkbox" name="selectedCourse"  value="{{a.pk}}" onchange="this.form.submit()"><br>
                    {% endif %}
            
                    {% endfor %}
                    </form>
              </li>
              
          </ul>
      

      
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination" class="mx-auto">
    {% if user.has_previous %}
    <li class="page-item"><a class="page-link" href="{% url 'showusers' %}?page={{ user.previous_page_number }}">Previous</a></li>
    {% endif %}
    <li class="page-item"><a class="page-link" href="#">{{user.number}}</a></li>
    {% if user.has_next %}
    <li class="page-item"><a class="page-link" href="{% url 'showusers' %}?page={{ user.next_page_number }}">Next</a>
    </li>
    {% endif %}
  </ul>
</nav>

{% else %}
<h3 class="mx-auto" style="width: 400px;">
  There is no User yet
</h3>
{% endif %}
</div>

{% endblock %}