{% extends "./base.html" %}
{% block content %}
<script>
    function filldata(names){
      document.getElementById("course").value=names.course
      document.getElementById("time").value=names.time
      document.getElementById("date").value=names.date
      document.getElementById("days").value=names.days
      document.getElementById("a").value=names.a
    }
    
    </script>

    
 <!-- edit Batches Modal -->
 <div class="modal fade"
 id="editBatchesModal"
 tabindex="-1"
 aria-labelledby="exampleModalLabel"
 aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Edit Batches</h5>
    <button type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form action="../adminmodule/editbatch"
          method="post"
          enctype="multipart/form-data">
      <p>
        Choose a course:
      </p>
      <select name="courses" id="course">
        {% for i in course %}
          <option value="{{ i.id }}">
            {{ i.name }}
          </option>
        {% endfor %}
      </select>
      <p>
        Starting Date:
      </p>
      <input type="date" name="date" id="date" required>
      <p>
        Time:
      </p>
      <input type="time" name="time"  id ="time" required>
      <select name="a" id="a">
        <option value="Am">
          Am
        </option>
        <option value="Pm">
          Pm
        </option>
      </select>
      <p>
        Days:
      </p>
      <div class="form-check">
        <input type="checkbox"
               class="form-check-input"
               id="mon"
               value="mon"
               name="days">
        <label class="form-check-label" for="mon">Monday</label>
      </div>
      <div class="form-check">
        <input type="checkbox"
               class="form-check-input"
               id="tues"
               value="tues"
               name="days">
        <label class="form-check-label" for="tues">Tuesday</label>
      </div>
      <div class="form-check">
        <input type="checkbox"
               class="form-check-input"
               id="wed"
               value="wed"
               name="days">
        <label class="form-check-label" for="wed">Wednesday</label>
      </div>
      <div class="form-check">
        <input type="checkbox"
               class="form-check-input"
               id="thrus"
               value="thrus"
               name="days">
        <label class="form-check-label" for="thrus">Thrusday</label>
      </div>
      <div class="form-check">
        <input type="checkbox"
               class="form-check-input"
               id="fri"
               value="fri"
               name="days">
        <label class="form-check-label" for="fri">Friday</label>
      </div>
      <div class="form-check">
        <input type="checkbox"
               class="form-check-input"
               id="sat"
               value="sat"
               name="days">
        <label class="form-check-label" for="sat">Saturday</label>
      </div>
      <div class="form-check">
        <input type="checkbox"
               class="form-check-input"
               id="sun"
               value="sun"
               name="days">
        <label class="form-check-label" for="sun">Sunday</label>
      </div>
      {% csrf_token %}
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Edit">
        <br>
      </div>
    </form>
  </div>
</div>
</div>
</div>
<div class="row shadow p-3 mb-3 bg-body rounded m-1 border">
<h2>Batches</h2>
</div>
<div class="row">
  <div class="col-3">
    <form class="d-flex" action="../adminmodule/viewbatch" method="get">

      Showing{{enteries}} of {{user|length}}&nbsp;&nbsp;
      <select name="entry" onchange="this.form.submit()">
        <option>
          &nbsp;&nbsp; -----------&nbsp;&nbsp;
        </option>
        <option value="5">
          5
        </option>
        <option value="10">
          10
        </option>
        <option value="15">
          15
        </option>
      </select>

    </form>
  </div>

  <div class="col-3">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
      aria-expanded="false">
      Filter
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li>
        <form class="d-flex" action="../adminmodule/viewbatch" method="get" name="entryForm">

          {% for a in course %}
          
          <label for="vehicle1">{{a.name}}</label>
          <input type="checkbox" name="selectedCourseFilter" value="{{a.pk}}"><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          
          {% endfor %}

          <label for="vehicle1">Deleted</label>
          <input type="checkbox" name="selectedCourseFilter" value="Deleted"><br>
          &nbsp;&nbsp;&nbsp; <button class="btn btn-primary btn-sm" type="submit" style="width: 100%;">Filter</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </form>
      
      </li>
    </ul>
  </div>

  <div class="col-6">
    <form class="d-flex" action="../adminmodule/viewbatch" method="get">

      <input class="form-control me-2 rounded-pill" type="search" name="f" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success rounded-4" type="submit">
        Search
      </button>

    </form>
  </div>
</div>
<br>
{% if batch %}
<table class="table table-striped project-orders-table shadow p-3 mb-3 bg-body border rounded">
  <thead>
    <tr>
      <th class="ml-5">SNo.</th>
      <th>
        <a href="../adminmodule/viewbatch?f=1" style="text-decoration: None; color: black;">Course
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-sort-alpha-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z" />
            <path
              d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z" />
          </svg>
        </a>
      </th>
      <th>
        <a href="../adminmodule/viewbatch?f=2" style="text-decoration: None; color: black;">Days
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-sort-alpha-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z" />
            <path
              d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z" />
          </svg>
        </a>
      </th>
      <th><a href="../adminmodule/viewbatch?f=3" style="text-decoration: None; color: black;">Date
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-sort-alpha-down" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z" />
          <path
            d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z" />
        </svg>
      </a></th>
      <th>time</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody >
    {% for i in batch %}
      <tr>
        <td>{{ forloop.counter }}</td>
        {% comment %} {% for j in courses %}
        {% if j.pk == i.cid.pk %}
        <td>{{j.name}}</td>
        {% endif %}
        {% endfor %} {% endcomment %}
        {% comment %} {% if i.cid.pk == course.id %}{% endif %} {% endcomment %}
       <td>{{i.cid}}</td>
        <td>{{ i.days}}</td>
        <td>{{ i.date }}</td>
        <td>{{ i.time }}{{i.a}}</td>
        <td>{{i.status}}</td>
        <td>
          <div class="d-flex align-items-center">
            <button type="button" class="btn btn-danger btn-sm btn-icon-text">
              <a name="delete"
                 href="../adminmodule/batchcontent?data={{ i.pk }}&course={{i.cid.pk}}"
                 style="text-decoration:None;
                        color:white;">View</a>
              <i class="typcn typcn-edit btn-icon-append"></i>
            </button>
            <button type="button"
                    class="btn btn-success btn-sm btn-icon-text mr-3"
                     onclick="filldata({'pk':'{{ i.cid.pk }}','days':'{{ i.days }}','time':'{{ i.time }},'date':{{i.date}},'a':{{i.a}}})" 
                    data-bs-toggle="modal"
                    data-bs-target="#editBatchesModal">
                      Edit
              <i class="typcn typcn-edit btn-icon-append"></i>
            </button>
            <button type="button" class="btn btn-danger btn-sm btn-icon-text">
              <a name="delete"
                 href="../adminmodule/deleteinstance?data={{ i.pk }}&op=5"
                 style="text-decoration:None;
                        color:white;">Delete</a>
              <i class="typcn typcn-delete-outline btn-icon-append"></i>
            </button>
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<h3 class="mx-auto" style="width: 400px;">
  There is no Batches
</h3>
{% endif %}
{% endblock content %}