{% extends "./base.html" %}
{% block content %}

<div style="align-items: center;" class="p-5">
    <div class="mx-auto mb-5 fs-5 bold" style="width: 200px;">
        <h1>Courses</h1>
    </div>

    <div class="container">
        <div class="row mb-2 my-6">
            {% for i in courses %}
            <div class="card rounded m-1 mx-auto border" style="width: 15rem;">
                <a href="../viewcourse?data={{i.pk}}">
                <img src="media/{{i.img}}" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <p class="card-text">{{i.desc}}</p>
                </div>
                
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}