<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Educap</title>
    {% load static %}
    <style>
        .intro {
            background-image: url("media/B.jpg");
            color: white;

        }

        .pass-box {
            position: relative;
        }

        .fa {
            position: absolute;
            right: 18px;
            margin-top: -56px;
        }
        .pwd{
            width: 350px;
        }
       #pswd_info{
        position: absolute;

        padding: 28px;
        background: #ffffff; 
        font-size:21px;
        border-radius: 5px;
        z-index: 55;
        margin-left: 489px;
        margin-top: -116px;
       } 
       #pswd_info ul li{
        list-style-type: none;
       }
        #pswd_info ul li .fa{
        margin-left: -10px;
        margin-right: 279px;
        margin-top: 0px;
       }
     
       .hide{
        display: none;
       }
             .invalid{
        line-height:20px;
        color: #ec3f41;
        
       }
    .valid{
        line-height: 20px;
        color: #12ab68;
       }
    </style>

</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- Student Register Modal -->
    <div class="modal fade" id="studentregisterModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Student Register</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="../student/signup/" method='POST' enctype="multipart/form-data">
                        {% csrf_token %}
                        <input name="sname" type="text" id="firstname" class="form-control" placeholder="Name" required
                            style="height: 50px;">
                        <br>
                        <input name="semail" type="email" id="inputEmail" class="form-control"
                            placeholder="Email address" required autofocus style="height: 50px;">
                        <br>
                        <input name="smobile" type="text" id="lastname" class="form-control" placeholder="Mobile no."
                            required style="height: 50px;">
                        <br>
                        <div class="pass-box">
                            <input name="spassword" type="password" id="Passwords" class="form-control"
                            placeholder="Password" required style="height: 50px;">
                            <br>
                            <i class="fa fa-eye-slash" aria-hidden="true" id="eyes"></i>
                        </div>
                        
                        <br>
                        <button class="btn btn-lg btn-primary btn-block" type="submit" style="width: 100%;">
                            Sign
                            in
                        </button>
                    </form>
                    <div id="pswd_info" class="pwd hide">
                        <h6 class="text-info">Password Must Contain</h6>
                        <ul>
                           
                            <li id="letter" class="invalid "><i class="fa fa-times" aria-hidden="true"></i>At
                                least <strong>one Lowecase letter</strong></li>
                            <li id="capital" class="invalid"><i class="fa fa-times" aria-hidden="true"></i>At
                                least <strong>one capital letter</strong></li>
                            <li id="number" class="invalid"><i class="fa fa-times" aria-hidden="true"></i>At
                                least <strong>one number</strong></li>
                            <li id="lenght" class="invalid"><i class="fa fa-times" aria-hidden="true"></i>At least<strong> 8
                                    characters</strong></li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("eyes").addEventListener("click", function () {
            x = document.getElementById("Passwords");

            if (x.type == "password") {
                x.type = "text";
                
                this.classList.add("fa-eye");
                this.classList.remove("fa-eye-slash");
            }
            else {
                x.type = "password";
                this.classList.add("fa-eye-slash");
                this.classList.remove("fa-eye");
            }

        })
        a=document.getElementById("Passwords");
        console.log(a);
        b=document.getElementById("lenght")
        c=document.getElementById("letter")
        d=document.getElementById("capital")
        e=document.getElementById("number")
        f=document.getElementById("pswd_info");
        a.addEventListener("keyup",function()
        {    
            console.log(a.value)
            validate(a.value);

        })
        a.addEventListener("focus",function()
        {    
            f.classList.remove("hide");

        })
        a.addEventListener("blur",function()
        {    
            f.classList.add("hide");

        })
        function validate(pswd)
        {
            if(pswd.length>=8)
            {
                b.classList.remove("invalid");
                b.classList.add("valid");
                b.firstChild.classList.remove("fa-times");
                b.firstChild.classList.add("fa-check");
            }
            else
            {
                b.classList.remove("valid");
                b.classList.add("invalid");
                b.firstChild.classList.remove("fa-check");
                b.firstChild.classList.add("fa-times");
            } 
            if(pswd.match(/[a-z]/))
            {
                c.classList.remove("invalid");
                c.classList.add("valid");
                c.firstChild.classList.remove("fa-times");
                c.firstChild.classList.add("fa-check");  
            }
            else{
                c.classList.remove("valid");
                c.classList.add("invalid");
                c.firstChild.classList.remove("fa-check");
                c.firstChild.classList.add("fa-times");
            }
            if(pswd.match(/[A-Z]/))
            {
                d.classList.remove("invalid");
                d.classList.add("valid");
                d.firstChild.classList.remove("fa-times");
                d.firstChild.classList.add("fa-check"); 
            }
            else{
                d.classList.remove("valid");
                d.classList.add("invalid");
                d.firstChild.classList.remove("fa-check");
                d.firstChild.classList.add("fa-times");
            }
            if(pswd.match(/\d/))
            {
                e.classList.remove("invalid");
                e.classList.add("valid");
                e.firstChild.classList.remove("fa-times");
                e.firstChild.classList.add("fa-check"); 
            } 
            else{
                e.classList.remove("valid");
                e.classList.add("invalid");
                e.firstChild.classList.remove("fa-check");
                e.firstChild.classList.add("fa-times");
            }
        }
    </script>
    <!-- Student login Modal -->
    <div class="modal fade" id="studentLoginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Student Login</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="../student/login" method='POST' enctype="multipart/form-data">
                        {% csrf_token %}
                        <input name="email" type="email" id="email" class="form-control" placeholder="Email address"
                            required style="height: 50px;">
                        <br>
                        <div class="pass-box">
                            <input name="pas" type="password" id="pass" class="form-control" placeholder="Password"
                                required style="height: 50px;">
                            <br>
                            <i class="fa fa-eye-slash" aria-hidden="true" id="eye"></i>
                        </div>
                        <br>
                        <button class="btn btn-lg btn-primary btn-block" type="submit"
                            style="width: 100%;">login</button>
                    </form>
                </div>
               
                <!--  <div class="modal-footer"></div> -->
            </div>
        </div>
    </div>
    <!-- Faculty Register Modal -->
    <div class="modal fade" id="facultyLoginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Faculty Register</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/" method='POST' enctype="multipart/form-data">
                        <input name="email" type="email" id="inputEmail" class="form-control"
                            placeholder="Email address" required autofocus style="height: 50px;">
                        <br>
                        <input name="password" type="password" id="inputPassword" class="form-control"
                            placeholder="Password" required style="height: 50px;">
                        <br>
                        <input name="firstname" type="text" id="firstname" class="form-control" placeholder="firstname"
                            required style="height: 50px;">
                        <br>
                        <input name="lastname" type="text" id="lastname" class="form-control" placeholder="lastname"
                            required style="height: 50px;">
                        <br>
                        <input name="username" type="text" id="username" class="form-control" placeholder="username"
                            required style="height: 50px;">
                        <br>
                        {% csrf_token %}
                        <button class="btn btn-lg btn-primary btn-block" type="submit" style="width: 100%;">
                            Sign
                            in
                        </button>
                    </form>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
    <!-- update profile Modal -->
    <div class="modal fade" id="updateprofileModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="../student/profileupdate" method="post" enctype="multipart/form-data">
                        <div class="mx-auto" style="width: 150px;">
                            <img class="mb-4" src="../media/{{ user1.img }}" alt="" width="72" height="72"
                                class="rounded-circle">
                            <h6>Profile picture</h6>
                            <input type="file" name="imag" value="{{ user1.img }}">
                            <br>
                        </div>
                        <input name="name" type="text" class="form-control" placeholder="Username"
                            value="{{ user1.sname }}" required autofocus style="height: 50px;">
                        <br>
                        <input name="email" type="text" class="form-control" placeholder="Email"
                            value="{{ user1.semail }}" required autofocus style="height: 50px;">
                        <br>
                        <input name="mobile" type="text" class="form-control" placeholder="Mobile"
                            value="{{ user1.smobile }}" required autofocus style="height: 50px;">
                        <br>
                        {% csrf_token %}
                        <button class="btn btn-lg btn-primary btn-block" type="submit"
                            style="width: 100%;">Save</button>
                        <p class="mt-5 mb-3 text-muted">
                            &copy; 2022
                        </p>
                    </form>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
    <!-- update password Modal -->
    <div class="modal fade" id="updatePasswordModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="../student/changepass" method="post" enctype="multipart/form-data">
                        <input name="pas1" type="password" id="inputPassword" class="form-control"
                            placeholder="Old Password" required style="height: 50px;">
                        <br>
                        <input name="pas2" type="password" id="inputPassword" class="form-control"
                            placeholder="New Password" required style="height: 50px;">
                        <br>
                        {% csrf_token %}
                        <button class="btn btn-lg btn-primary btn-block" type="submit"
                            style="width: 100%;">Update</button>
                        <p class="mt-5 mb-3 text-muted">
                            &copy; 2022
                        </p>
                    </form>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
    <!--navbar-->
    <div class="intro">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
            <div class="container-fluid">
                <a class="navbar-brand fs-4 text-light" href="#">Educap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse ps-5 fs-5" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item pe-5">
                            <a class="nav-link active text-light" aria-current="page" href="../">Home</a>
                        </li>
                        <!-- <li class="nav-item pe-5">
                            <a class="nav-link text-light" href="#">Link</a>
                        </li> -->
                        {% if studentuser %}
                        <li class="nav-item dropdown pe-5">
                            <a class="nav-link dropdown-toggle  text-light" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                {{ studentuser.sname }}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="" data-bs-toggle="modal"
                                        data-bs-target="#updateprofileModal">Profile</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="" data-bs-toggle="modal"
                                        data-bs-target="#updatePasswordModal">Password</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="../student/logout">Logout</a>
                                </li>
                            </ul>
                        </li>
                        {% else %}
                        <li class="nav-item dropdown pe-5">
                            <a class="nav-link dropdown-toggle  text-light" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Register
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a href="" class="dropdown-item" data-bs-toggle="modal"
                                        data-bs-target="#facultyLoginModal">Faculty</a>
                                </li>
                                <li>
                                    <a href="" class="dropdown-item" data-bs-toggle="modal"
                                        data-bs-target="#studentregisterModal">Student</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown pe-5">
                            <a class="nav-link dropdown-toggle  text-light" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Login
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a href="" class="dropdown-item" data-bs-toggle="modal"
                                        data-bs-target="#facultyLoginModal">Faculty</a>
                                </li>
                                <li>
                                    <a href="" class="dropdown-item" data-bs-toggle="modal"
                                        data-bs-target="#studentLoginModal">Student</a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2 rounded-pill" type="search" placeholder="Search"
                            aria-label="Search">
                        <button class="btn btn-outline-success rounded-4" type="submit">
                            Search
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
        {% endfor %}
    </div>
    <script>
        document.getElementById("eye").addEventListener("click", function () {
            x = document.getElementById("pass");
            console.log(x);

            if (x.type == "password") {
                x.type = "text";
                console.log("pass");
                this.classList.add("fa-eye");
                this.classList.remove("fa-eye-slash");
            }
            else {
                x.type = "password";
                this.classList.add("fa-eye-slash");
                this.classList.remove("fa-eye");
            }

        })
       
    </script>
    {% block content %}
    {% endblock %}

</body>

</html>