{% extends "./base.html" %}
{% block content %}
<style>
    body {
        background-image: url("https://wallpaper.dog/large/20382878.jpg");
        
       }
</style>
<div style="align-items: center;" class="p-5">
    <div class="mx-auto mb-5 fs-5 bold" style="width: 200px;">
        <h1><b><u>Courses</b></u></h1>
    </div>

    <div class="container">
        <div class="row mb-2 my-6">
            {% for i in courses %}
            <div class="card rounded m-1 mx-auto border" style="width: 15rem;">
                
                <img src="media/{{i.img}}" onerror="if (this.src != 'media/error.jpg') this.src = 'media/error.jpg';" class="card-img-top" alt="...">
                <a href="../viewcourse?data={{i.pk}}"></a>
                <center><b>{{i.name}}</b></center>
                <div class="card-body">
                    <button type="button" class="btn btn-success btn-sm btn-icon-text">
                        <a name="delete"
                           href="../syllabus?data={{i.pk}}"
                           style="text-decoration:None;
                                  color:white;">Syllabus</a>
                        <i class="typcn typcn-delete-outline btn-icon-append"></i>
                      </button>
                      <button type="button" class="btn btn-success btn-sm btn-icon-text">
                        <a name="delete"
                           href="../viewcourse?coid={{i.pk}}&type=notes"
                           style="text-decoration:None;
                                  color:white;">View Course</a>
                        <i class="typcn typcn-delete-outline btn-icon-append"></i>
                      </button>
                </div>
                
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}